.form {
    background-image: url('https://image.freepik.com/free-vector/stylish-glowing-digital-red-lines-banner_1017-23964.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;



}