.footer-all {

    background-color: rgb(16, 12, 48);
    color: gray;
    align-items: center;
    width: 100%;


}

.footer {
    font-size: 15px;
}

.url {
    text-decoration: none;
    color: gray;
}